apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://192.168.1.86:3100
    uid: loki-uid
    isDefault: false
    version: 1
    editable: true
    jsonData:
      maxLines: 1000

  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://192.168.1.86:9090
    uid: prometheus-uid
    isDefault: true
    version: 1
    editable: true
    jsonData:
      timeInterval: 5s