<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="main-menu">
        <nav>
            <ul>
                <li>
                    <a href="{{ url_for('home_bpp.index') }}">
                        <span>Главная</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('oauth_register_bpp.register') }}">
                        <span>Регистрация</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('oauth_bpp.login') }}">
                        <span>Вход</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="thems">
        <!-- Делаем випадающий список для выбора темы -->
        <select id="theme-select">
            <option value="dark" selected class="dark-theme">Темная тема</option>
            <option value="light" selected class="light-theme">Светлая тема</option>
        </select>
    </div>
    
    {% block content %}{% endblock %}

    <footer>
        <p>&copy; 2026 Все права защищены.</p>
    </footer>

    <script>

        // темы меняем через CSS классы
        // по умолчанию устанавливаем темную тему
        document.body.classList.add('dark-theme');

        const themeSelect = document.getElementById('theme-select');
        themeSelect.addEventListener('change', () => {
            const selectedTheme = themeSelect.value;
            document.body.classList.remove('dark-theme', 'light-theme');
            document.body.classList.add(selectedTheme + '-theme');
        });


    </script>
</body>
</html>