<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mod/payments-card.css') }}">
</head>
<body class="dark-theme">
    <div class="main-menu">
        <nav>
            <ul>
                {% if 'user_id' not in session %}
                <li><a href="{{ url_for('oauth_register_bpp.register') }}"><span>Регистрация</span></a></li>
                <li><a href="/login"><span>Вход</span></a></li>
                {% else %}
                <li><a href="/home"><span>Дажборт</span></a></li>
                <li><a href="/profile"><span>Профиль</span></a></li>
                {% if session.get('is_admin', False) %}
                <li><a href="/admin">⚙️ Admin Panel</a></li>
                {% endif %}
                <li><a href="/logout"><span>Выйти</span></a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="thems">
            <select id="theme-select">
                <option value="dark">Темная тема</option>
                <option value="light">Светлая тема</option>
            </select>
        </div>
    </div>
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>