{% extends "home-base.html" %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<div class="main">
    <h1>Добро пожаловать {{ user.username }}!</h1>
</div>

<div class="modals-container">
    <style>
        .modals-container {
            display: flex;
            background-color: black;
            width: 100px;
        }
    </style>
        {% include 'components/homes/my-subscription.html' %}
</div>
<div class="context">
    {% include 'components/homes/api-imput.html' %}
</div>
{% endblock %}
