{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
<h1>Вход в систему</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flashes">
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
</div>
{% endif %}
{% endwith %}
{% include 'components/forms/forms.html' %}
<p>Ещё нет аккаунта? <a href="{{ url_for('oauth_register_bpp.register') }}">Зарегистрироваться</a></p>
{% endblock %}