{% extends "home-base.html" %}

{% block title %}Профиль{% endblock %}

{% block content %}
<h1>Профиль</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="profile-info">
  <p><strong>Логин:</strong> {{ user.username }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>
  <hr>
  <div class="my-github-repo">
    <p><strong>Мои репозитории на GitHub:</strong></p>
    <ul>
      {% for repo in user.github_repos %}
      <li><a href="{{ repo.html_url }}" target="_blank">{{ repo.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% include 'components/profile/danger-zone.html' %}
</div>

{% endblock %}